@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap');

* {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  color: whitesmoke;
  background-color: #333;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 700px;
  margin: 0 auto;
  border-bottom: 1px solid whitesmoke;
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.navbar a:hover {
  color: rgb(146, 255, 219);
}

.content {
  max-width: 650px;
  margin: 40px auto;
  /* padding: 20px; */
}

.content h1 {
  margin-bottom: 30px;
}

.content h2 {
  padding: 10px;
}

.content button {
  margin: 5px 10px;
  padding: 10px;
  background-color: aquamarine;
  color: #333;
  border-radius: 10px;
  letter-spacing: 2px;
  border: none;
}

.content button:hover {
  background-color: rgb(116, 2, 151);
  font-weight: 700;
  color: white;
}
